<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
        {% include "navpanel.html" %}
        <div align="center">
            <p style="margin-bottom: 50px; margin-top: 50px;"> Please, upload your IBM SVC/Storwize stats.</p>
            <form action="upload" method="post" enctype="multipart/form-data">
                <input type="file" multiple="" name="file[]" class="span3" /><br />
                <input type="submit" value="Upload"  class="span2">
            </form>
            
        </div>
    </div>
  </body>
</html>
 